@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.leaflet-container {
  background: #093d68 !important;
}

#panorama {
  height: 250px;
}

@media (min-width: 768px) {
  #panorama {
    height: 400px;
  }
}
